/**
css for home page
**/
#nav{
	width: auto;
	height: 100px;
	background-color: beige;
	overflow: hidden;
}
#hamburger{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px;
}
#th{
	padding: 8px;
	text-align: left;
}
#topnav{
	overflow: hidden;
	background-color: #333;
}
body{
	background-color: #89cff0;

}
h1{
	color: #20AE2E;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	padding: 30px;
	font-size: 35px;
}
h2{
	color: white;
	font-family: "Arial", Helvetica, sans-serif;
}
h3{
	color: white;
}
#nav_button{
	padding: 16px;
  	font-size: 16px;
  	font-family: sans-serif;
  	border: none;
  	color: white;
  	background-color: green;
  	font-family: "Arial", Helvetica, sans-serif;
}
#search-text-input{
	border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 1px 1px 1px #e5e5e5;
    float:left;
    height:20px;
    margin:auto; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:183px;
}
#button-holder{
    background-color:#f1f1f1;
    border-top:thin solid #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:left;
    height:27.5px;
    margin: auto;
    text-align:center;
    width:50px;
}
#button-holder img{
    margin:4px;
    width:20px; 
}
