/**
css for home page
**/
#th{
	padding: 8px;
	text-align: left;
}
.topnav{
	overflow: hidden;
	background-color: #333;
}
.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Arial", Helvetica, sans-serif;
  position: relative;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.searchbar {
  position: relative;
  top: 20px;
  left: 5px;
}

body{
  background-color: #333;
  text-align: center;
  margin: 0;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
}

h1{
	color: #20AE2E;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 35px;
}
h2{
	color: white;
	font-family: "Arial", Helvetica, sans-serif;
}
h3{
	color: white;
}
#sec_button{
  position: relative;
  top: 15px;
}
#bg{
  height: 100%;
  width: 100%;
  background-position: center;
  margin: 0;
  position: relative;
}
#logo{
  position: relative;
  align-items: center;
  top: -650px;

}
#nav_button{
	padding: 16px;
  	font-size: 16px;
  	font-family: sans-serif;
  	border: none;
  	color: white;
  	background-color: green;
  	font-family: "Arial", Helvetica, sans-serif;
}
#search-text-input{
	border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 1px 1px 1px #e5e5e5;
    float:left;
    height:20px;
    margin:auto; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:183px;
}
#button-holder{
    background-color:#f1f1f1;
    border-top:thin solid #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:left;
    height:27.5px;
    margin: auto;
    text-align:center;
    width:50px;
}
#button-holder img{
    margin:4px;
    width:20px; 
}


/*Gabe Marcial
PPP
heapMap.css 
Software Engineering
8 February 2020
*/

#comparemaps {
  text-align: center;
  color: white;
  font-size: 40px;
}
#logo {
  width: 100%;
  color: green;
}


/*Position of*/
@media (orientation:landscape) {/*Combined .container .div */
	#left{
	    background-color: #000000;  
	    width: 44%;
	    margin-left:1%;
		float: left;
  		height:425px;
	}
	#right{
	    background-color: #000000;  
	    width:44%;
	    margin-right:1%;
		float: right;
  		height:425px;
	}
}

@media (orientation:portrait) {/*Combined .container .div */
	#left{
	    background-color: #000000;  
	    width: 96%;
	    margin:2%;
		float: left;
  		height:425px;
	}
	#right{
	    background-color: #000000;  
	    width:96%;
	    margin:2%;
		float: right;
  		height:425px;
	}
}

.mapSelectDropdowns div{
	width: 100%;
}
#mapSelect1{
	margin-left: 21%;
	width: 14.5%;
	margin-right: 40%
}
#mapSelect2{
	width: 14.5%;
	margin-right: 10%;
}

 /* https://www.w3docs.com/tools/code-editor/5908 */
.container{
  position: relative;
}


/*
CSS for AboutUs.vue
*/

.v-card__subtitle, .v-card__text{
  font-size: .839em; 
  letter-spacing: .02345;
}
div.parag{
  align-content: center;
}